<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="css/bt.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="icons/logo.png">

<title>Ejercicio 1</title>
</head>

<body>


<div class = "a">
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <span class="mdl-layout-title">
			<center><h4 style="color:rgb(15, 30, 32); border:2px solid DodgerBlue; background-color:rgb(37, 235, 96);">MATÍAS ES DESORDENADO A LA HORA DE TRABAJAR</h4></center>
	  </span>
      <main class="mdl-layout__content">
          <center><img src="images/oneC.png"  width="300" height="450"></center>

          <br><br>

          <center>

<br>

                  <div class="page-content"><p><h5>¿ Cómo creés que se siente la compañera de Matías ?</h5></p></div>
                  <form id="copia" name="copia">
                    <div id="aplicacion1">

                        <p>
                            <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg2 value="Su compañera se siente comoda con eso" v-model="desorden1" id="no se"> Su compañera se siente comoda con eso</button>
                            <label for="desorden1"></label>
                        </p>
                        <p>
                          <button type="button" class="btn btn-outline-primary"><input type="radio" name=preg2 value="Su compañera se siente incomoda con eso" v-model="desorden1" id="no se"> Su compañera se siente incomoda con eso</button>
                            <label for="desorden1"></label>
                        </p>
                        <p>
                          <button type="button" class="btn btn-outline-primary"><input type="radio" name=preg2 value="A ella le da lo mismo" v-model="desorden1" id="no se"> A ella le da lo mismo</button>
                            <label for="desorden1"></label></center>
                        </p>

<br>
                          <p><h5><strong>{{desorden1}}</strong></h5></p>

                      </div>
           
<br><br>


          <input type="button" value="Comprobar" class="btn btn-outline-success btn-lg" onClick="comprobar();"></input>   

          </ul>

          <br><br><br>

          <button class="btn btn-outline-danger" type="reset"> Volver a jugar </button>
          <a href="AAone3.html" class="btn btn-primary" role="button">Siguiente</a>
          <a type="button" value="Atras" class="btn btn-primary" href="AAindex.html">Volver</a>
          </center>
          <br> 
      </main>
   	</div>

    <nav class="mdl-navigation">
    </nav>
  <main class="mdl-layout__content">
  </main>
</div>


<script src="js/vue.js"></script>
<script type="text/javascript" src="js/ZebraA2.js"></script>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="dist/zebra_dialog.min.js"></script>
<link href="dist/css/flat/zebra_dialog.min.css" rel="stylesheet" type="text/css" >
<script type="js/jquery-3.3.1.slim.min.js"></script>
<script type="js/popper.min.js"></script>
<script type="js/bootstrap.min.js"></script>
</body>
</html>
