<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="css/bt.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="icons/logo.png">

<title>Ejercicio 2</title>
</head>

<body>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <center><span class="mdl-layout-title">
			<div class = "mdl-layout__title"><h4 style="color:rgb(15, 30, 32); border:2px solid DodgerBlue; background-color:rgb(37, 235, 96);">EL DESORDEN Y SUS CONSECUENCIAS</h4></div>
	  </span>
	  <main class="mdl-layout__content">
		<img src="images/twoC.png" alt="Smiley face" width="550" height="450">

<br>

			<p><b><h5>Leé y completá,</b> con lo que puede haber ocurrido en cada situación.</h5></p>
			<br>
					<div class="page-content"><p><h5>Una compañera de Matías va caminando, y como no se da cuenta de que la mochila está tirada en el piso y...</h5></p></div><br>
					<form id="copia" name="copia">
					<div id="aplicacion">
						<p>
							<center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg1 value="La patea sin querer" v-model="desorden"> La patea sin querer</button>
							<label for="desorden"></label></center>
						</p>
						<p>
							<center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg1 value="La agarra y la tira" v-model="desorden"> La agarra y la tira</button>
							<label for="desorden"></label></center>
						</p>
						<p>
							<center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg1 value="Se burla de él" v-model="desorden"> Se burla de él</button>
							<label for="desorden"></label></center>
						</p>
				<br>

						<p><h5><strong>{{desorden}}</strong></h5></p><br><br>

					</div>

					<div class="page-content"><p><h5>Matías guarda los útiles en la cartuchera pero sin ordenarlos. Cuando llega a su casa quiere hacer los deberes y se da cuenta de que...</h5></p></div><br>
					<div id="aplicacion1">
						<p>
							<center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg2 value="Perdió algunos útiles sin darse cuenta" v-model="desorden1"> Perdio algunos útiles sin darse cuenta</button>
							<label for="desorden1"></label></center>
						</p>
						<p>
							<center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg2 value="Hizo lo correcto" v-model="desorden1"> Hizo lo correcto</button>
							<label for="desorden1"></label></center>
						</p>
						<p>
							<center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg2 value="Le robaron la cartuchera" v-model="desorden1"> Le robaron la cartuchera</button>
							<label for="desorden1"></label></center>
						</p>
				<br>

						<p><h5><strong>{{desorden1}}</strong></h5></p><br>

					</div>

		<input type="button" value="Comprobar" class="btn btn-outline-success btn-lg" onClick="comprobar();"></input> 
<br><br><br><br>
		  <button class="btn btn-outline-danger" type="reset"> Volver a jugar </button>				
		  <a type="button" value="Atras" class="btn btn-primary" href="games.html">Volver al Menú</a>
		  <a href="AF.html" class="btn btn-primary" role="button">Siguiente Juego</a></center><br><br>
          <br>
	</main>
   	</div>
    <nav class="mdl-navigation">
    </nav>
  <main class="mdl-layout__content">
  </main>



<script src="js/vue.js"></script>
<script type="text/javascript" src="js/ZebraAT.js"></script>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="dist/zebra_dialog.min.js"></script>
<link href="dist/css/flat/zebra_dialog.min.css" rel="stylesheet" type="text/css" >
<script type="js/jquery-3.3.1.slim.min.js"></script>
<script type="js/popper.min.js"></script>
<script type="js/bootstrap.min.js"></script>
</body>
</html>
