<!doctype html>
<html>
<head>
<title>TECGAME</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="css/bt.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="icons/logo.png">
</head>

<div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <span class="mdl-layout-title">
			<center><div class = "mdl-layout__title"><h4 style="color:rgb(15, 30, 32); border:2px solid DodgerBlue; background-color:rgb(37, 235, 96);">HAY QUE CUIDAR Y RESPETAR LAS COSAS DEL SALON Y DE LOS DEMÁS</h4></div>
	  </span>
      <main class="mdl-layout__content">
                  <li><div class="page-content"><h4>1) Agustín dice muchas malas palabras, las cuales ofenden a las personas, ¿Que debería hacer Agustín?</h4></div></li>
                  <form id="copia" name="copia">
                      <div id="aplicacion">
                           <img src="images/Insulto.png" width="400" height="300" class="rounded" alt="..."></br> 
                          <p></br>

                              <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg1 value="1. Corregir su forma de hablar, para así no ofender a sus compañeros." v-model="desorden"> <h4>1. Corregir su forma de hablar, para así no ofender a sus compañeros.</h4></button>
                              <h4><label for="desorden"></label></h4></center>
                          </p>
                          <p>
                             
                            <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg1 value="2. Seguir diciendo malas palabras, sin importarle el efecto que ellas causan." v-model="desorden"> <h4>2. Seguir diciendo malas palabras, sin importarle el efecto que ellas causan.</h4></button>
                             <h4> <label for="desorden"></label></h4></center>
                             <br>
                             <p><h5><strong>{{desorden}}</strong></h5></p>
                      </div>
                      <br><br>
                      
          <input type="button" value="Comprobar" class="btn btn-outline-success btn-lg" onClick="comprobar();"></input> 
          <br><br><br>
          <button class="btn btn-outline-danger" type="reset">
              Volver a jugar
          </button>
          <a href="AF2.html" class="btn btn-primary" role="button">Siguiente</a>
          <a type="button" value="Atras" class="btn btn-primary" href="games.html">Volver al Menú</a></center> <br><br>
      </main>
   	</div>
    <nav class="mdl-navigation">
    </nav>
  <main class="mdl-layout__content">
  </main>
</div>

<body bgcolor="#4ebfd9">
  <script src="js/vue.js"></script>
  <script type="text/javascript" src="js/Zebrita.js"></script>
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="dist/zebra_dialog.min.js"></script>
  <link href="dist/css/flat/zebra_dialog.min.css" rel="stylesheet" type="text/css" >
  <script type="js/jquery-3.3.1.slim.min.js"></script>
  <script type="js/popper.min.js"></script>
  <script type="js/bootstrap.min.js"></script>
</html>
