<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="css/bt.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="icons/logo.png">

</head>
<style>
	div.a {
		text-align: center;
	}
</style>
<div class = "a">
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <span class="mdl-layout-title">
			<div class = "mdl-layout__title"><h4 style="color:rgb(15, 30, 32); border:2px solid DodgerBlue; background-color:rgb(37, 235, 96);">HAY QUE CUIDAR Y RESPETAR LAS COSAS DEL SALON Y DE LOS DEMÁS</h4></div>
	  </span>
      <main class="mdl-layout__content">
                  <form id="copia" name="copia">
                      <li><div class="page-content"><p><h5>2)  JULIA NECESITA UN LAPIZ DE UN COLOR ESPECIAL PARA TERMINAR UN DIBUJO, ELLA VIO QUE MAURO TENIA ESE COLOR DE LAPIZ EN SU CARTUCHERA, ¿QUE DEBERIA HACER JULIA? </h5></p></div></li>
                      <div id="aplicacion">
                          <img src="images/stolen.png" width="400" height="300" class="rounded" alt="..."></br> 
                          <p>
                              
                            <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg1 value="1. Agarrarlo sin permiso</h4></button>" v-model="desorden"> <h4>1. Agarrarlo sin permiso</h4></button>
                              <h5><label for="desorden"></label></h5></center>
                          </p>

                          <p>
                             
                            <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg1 value="2. Pedirselo Amablemente" v-model="desorden"> <h4>2. Pedirselo Amablemente</h4></button>
                              <h5><label for="desorden"></label></h5></center>
                          </p></br>
                          <br> 
                        <p><strong>{{desorden}}</strong></p>
                      </div>
                      <br><br>

          <input type="button" value="Comprobar" class="btn btn-outline-success btn-lg" onClick="comprobar();"></input>
          <br><br><br>
          <button class="btn btn-outline-danger" type="reset">
              Volver a jugar
          </button> 
          <a href="AG3.html" class="btn btn-primary" role="button">Siguiente</a>
          <a type="button" value="Atras" class="btn btn-primary" href="games.html">Volver al Menú</a> <br><br><br>
      </main>
   	</div>
    <nav class="mdl-navigation">
    </nav>
  <main class="mdl-layout__content">
  </main>
</div>

<body bgcolor="#4ebfd9">
  <script src="js/vue.js"></script>
  <script type="text/javascript" src="js/ZebraG2.js"></script>
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="dist/zebra_dialog.min.js"></script>
  <link href="dist/css/flat/zebra_dialog.min.css" rel="stylesheet" type="text/css" >
  <script type="js/jquery-3.3.1.slim.min.js"></script>
  <script type="js/popper.min.js"></script>
  <script type="js/bootstrap.min.js"></script>
</body>
</html>
