<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="css/bt.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link href="dist/css/flat/zebra_dialog.min.css" rel="stylesheet" type="text/css" >
  <link rel="icon" type="image/png" href="icons/logo.png">

<title>Ejercicio 3</title>
</head>

<div class = "a">
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <span class="mdl-layout-title">
      <center><div class = "mdl-layout__title"><h3 style="color:rgb(15, 30, 32); border:2px solid DodgerBlue; background-color:rgb(37, 235, 96);">Ejer.3 - SEÑALA LA RESPUESTA QUE VOS CREAS CORRECTA</h3></div></center>
    </span>

    <br><br>

    <p><h3><center> BENICIO COMETE UN ERROR Y PILAR SE RIE A CARCAJADAS </center></h3></p><br>

<form id = "Quiz" name = "Quiz">
        <br><br><br>
      
      <div id="aplicacion9">
        <p><h5><center>¿Cómo podemos ayudar a Pilar?</center></h5></p>
        
         
        <span>
       
      <center><button type="button" class="btn btn-outline-primary"><input type="radio" name="preg9" value="Ríendonos de ella cuando se equivoque" v-model="pr9" id="ans"> Ríendonos de ella cuando se equivoque</button>
      <label for="ans"></label></center>
          <br>
      <center><button type="button" class="btn btn-outline-primary"><input type="radio" name="preg9" value="No riéndonos ni festejando su actitud" v-model="pr9" id="ans"> No riéndonos ni festejando su actitud</button>
      <label for="ans"></label></center>

      <br>

     <center><button type="button" class="btn btn-outline-primary"><input type="radio" name="preg9" value="Explicandole a Pilar que todos vamos a la escuela para aprender" v-model="pr9" id="ans"> Explicandole a Pilar que todos vamos a la escuela para aprender</button>
      <label for="ans"></label></center>
          <br>
          
             <br> 

                                <br>
                  <p><center><strong><h5>Su respuesta es: {{pr9}}</h5></strong></center></p>
               <br> <br>
      </div>
        </span>
        
 <span>
          <script src="js/vue.js"></script>
           
    <center><input type="button" value="Comprobar" class="btn btn-outline-success btn-lg" onClick="comprobar();"></input></center> 

          </ul>

          <br><br><br>

         <center><button class="btn btn-outline-danger" type="reset"> Volver a jugar </button>
          <a href="AIindex.html" class="btn btn-primary" role="button">Siguiente Juego</a>
          <a type="button" value="Atras" class="btn btn-primary" href="AHindex.html">Volver</a></center>

  </span>  
</form>
<p><br>
</p>
  </div>
  <script src="js/vue.js"></script>
  <script>
    var app=new Vue({
      el: '#aplicacion6',
      data:{ 
        pr6:'No se'
      }
    })
  </script>
<script>
  var app=new Vue({
    el:'#aplicacion7',
    data:{
      pr7:'No se'
    }
  })
</script>
<script>
  var app=new Vue({
    el:'#aplicacion8',
    data:{
      pr8:'No se'
    }
  })
</script>
<script>
  var app=new Vue({
    el:'#aplicacion9',
    data:{
      pr9:'No se'
    }
  })
</script>

<script type="text/javascript" src="js/Zebra9.js"></script>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="dist/zebra_dialog.min.js"></script>
<script type="js/jquery-3.3.1.slim.min.js"></script>
<script type="js/popper.min.js"></script>
<script type="js/bootstrap.min.js"></script>
</body>
</html>
