<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="css/bt.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link href="dist/css/flat/zebra_dialog.min.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="icons/logo.png">
  

<title>Ejercicio 2</title>
</head>

<div class = "a">
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <span class="mdl-layout-title">
			<center><div class = "mdl-layout__title"><h4 style="color:rgb(15, 30, 32); border:2px solid DodgerBlue; background-color:rgb(37, 235, 96);">DAVID TIENE MALOS MODALES</h4></div>
	  </span>
      <main class="mdl-layout__content">
        <br><br><br>
          <img src="images/B19.png" alt="Smiley face" width="300" height="450">
            <br>
                  <div class="page-content"><p><h5>¿Qué significa tener malos modales?</h5></p></div>
                  <form id="s" name="s">
                      <div id="aplicacion">

                             <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg1 value="Significa que nos vemos como personas maleducadas" v-model="desorden"> Significa que nos vemos como personas maleducadas</button>
                              <label for="desorden"></label></center>
                             <br>
                              <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg1 value="Significa somos limpios" v-model="desorden"> Significa que somos limpios</button>
                              <label for="desorden"></label></center>
                             <br> 
                              <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg1 value="Significa ser un niño bueno" v-model="desorden"> Significa ser un niño bueno</button>
                              <label for="desorden"></label></center>
                             
                             <br><br>
                             <h5><p><b><h5>{{desorden}}</h5></b></p></h5>

                      </div>
                    
                      <br>
                      <center><input type="button" value="Comprobar" class="btn btn-outline-success btn-lg" onClick="comprobar();"></input></center> 
                      
          <br><br><br>

         <center><button class="btn btn-outline-danger" type="reset"> Volver a jugar </button>
          <a href="AItwo2.html" class="btn btn-primary" role="button">Siguiente</a>
          <a type="button" value="Atras" class="btn btn-primary" href="AIindex.html">Volver</a></center>
                      
              </ul>
          </ul> 
           <br>
      </main>
   	</div>
    <nav class="mdl-navigation">
    </nav>
  <main class="mdl-layout__content">
  </main>
</div>

<body>
  <script src="js/vue.js"></script>

<script type="text/javascript" src="js/ZebraFP_2.js"></script>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="dist/zebra_dialog.min.js"></script>
<script type="js/jquery-3.3.1.slim.min.js"></script>
<script type="js/popper.min.js"></script>
<script type="js/bootstrap.min.js"></script>
</body>
</html>
