<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="css/bt.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link href="dist/css/flat/zebra_dialog.min.css" rel="stylesheet" type="text/css" >
<link rel="icon" type="image/png" href="icons/logo.png">
<title>Ejercicio 2</title>
</head>

<div class = "a">
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <span class="mdl-layout-title">
		<center><div class = "mdl-layout__title"><h3 style="color:rgb(0, 10, 50); border:2px solid DodgerBlue; background-color:rgb(70, 104, 250);">SELECCIONA LA RESPUESTA CORRECTA</h3></div>
	</span>
	  <main class="mdl-layout__content">
			<br>
					<p><h5>Si alguna vez alguien molesta a otro compañero yo...</h5></p>
					 <form id="t" name="t">
                      <div id="aplicacion7">
                          
                          
                             <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg8 value="Lo dejo" v-model="desorden7"> Lo dejo</button>
                              <label for="desorden7"></label></center>
                          <br>
                              <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg8 value="Hablo con esa persona para que no lo haga más" v-model="desorden7"> Hablo con esa persona para que no lo haga más</button>
                              <label for="desorden7"></label></center>
                          <br>
                              <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg8 value="Le hago lo mismo que a mi compañero" v-model="desorden7"> Le hago lo mismo que a mi compañero</button>
                              <label for="desorden7"></label></center>
                          
                          <br><br>
                              <p><b><h5>"{{desorden7}}"</h5></b></p>

                      </div>
                     <br>
				</form>

		<br>
		<center><input type="button" value="Comprobar" class="btn btn-outline-success btn-lg" onClick="comprobar();"></input></center> 

          <br><br><br>

         <center><button class="btn btn-outline-danger" type="reset"> Volver a jugar </button>
          <a href="AKindex.html" class="btn btn-primary" role="button">Siguiente Juego</a>
          <a type="button" value="Atras" class="btn btn-primary" href="AJindex.html">Volver</a></center>
          <br>
	</main>
   	</div>
    <nav class="mdl-navigation">
    </nav>
  <main class="mdl-layout__content">
  </main>
</div>

<body>
    <script src="js/vue.js"></script>
    
     <script type="text/javascript" src="js/AJZebra8.js"></script>
     <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
     <script type="text/javascript" src="dist/zebra_dialog.min.js"></script>
    <script type="js/jquery-3.3.1.slim.min.js"></script>
    <script type="js/popper.min.js"></script>
    <script type="js/bootstrap.min.js"></script>
</body>
</html>