<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="css/bt.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="dist/zebra_dialog.min.js"></script>
<link href="dist/css/flat/zebra_dialog.min.css" rel="stylesheet" type="text/css" >
<link rel="icon" type="image/png" href="icons/logo.png">
<title>Ejercicio 1</title>
</head>
<div class = "a">
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <span class="mdl-layout-title">
		 <center><div class = "mdl-layout__title"><h3 style="color:rgb(0, 10, 50); border:2px solid DodgerBlue; background-color:rgb(70, 104, 250);">LAS CONSECUENCIAS DE HABLAR MAL DE UNA AMIGA/O</h3></div>
	  </span>
    <br>
      <main class="mdl-layout__content">
                <br>
                  
                <div class="page-content"><p><h5>Clara habla mal de su amiga, ella se entera y le pregunta:</h5></p></div>
                <form id="k" name="k">
                      <div id="aplicacion4">
                          

                             <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg5 value="Puedo hacer lo mismo?" v-model="desorden4" id="no se"> Puedo hacer lo mismo?</button>
                              <label for="desorden4"></label></center>
                         <br>
                              <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg5 value="Por qué molestas a mi amiga?" v-model="desorden4" id="no se"> Por qué molestas a mi amiga?</button>
                              <label for="desorden4"></label></center>
                         <br>
                              <center><button type="button" class="btn btn-outline-primary"><input type="radio" name=preg5 value="Deberia ponerse a hacer otra cosa" v-model="desorden4" id="no se"> Te gusta molestar a las personas?</button>
                              <label for="desorden4"></label></center>

                              <br><br>
                              <p><b><h5>"{{desorden4}}"</h5></b></p>
                          
                      </div>

          <br><br><br>
          <center><input type="button" value="Comprobar" class="btn btn-outline-success btn-lg" onClick="comprobar();"></input></center> 

          </ul>

          <br><br><br>

         <center><button class="btn btn-outline-danger" type="reset"> Volver a jugar </button>
          <a href="AKdos2.html" class="btn btn-primary" role="button">Siguiente</a>
          <a type="button" value="Atras" class="btn btn-primary" href="AJindex.html">Volver</a></center>
          <br>
      </main>

   	</div>
    <nav class="mdl-navigation">
    </nav>
  <main class="mdl-layout__content">
  </main>
</div>
<body>
<script src="js/vue.js"></script>

<script type="text/javascript" src="js/ZebraK4.js"></script>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="dist/zebra_dialog.min.js"></script>
<script type="js/jquery-3.3.1.slim.min.js"></script>
<script type="js/popper.min.js"></script>
<script type="js/bootstrap.min.js"></script>  
</body>
</html>